body{
    text-align:center;
    background: url(image/pic.jpg) center center fixed;
    background-size:cover;
}
#header{
    background: linear-gradient(white,blue);
     background:-webkit-linear-gradient(white,blue);
     background: -moz-linear-gradient(white,blue);
     background:-o-linear-gradient(white,blue);
     background:-ms-linear-gradient(white,blue);
    height:80px;
    width:500px;
    margin: 10px auto;
    font-size:3em;
    color: #fff;
   line-height:80px;
}


.inputContainer{
    width:200px;
    margin:0 auto;
    
}
.input{
    height:30px;
    font-size:1.3em;
}
#slider{
    margin:10px auto;
}
#circle{
    height:3px;
    width:3px;
    border-radius: 50%;
    background:black;
    margin:0 auto;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
#thickness{
    position:relative;
}
#container{
    width:500px;
    height: 400px;
    border: 1px solid blue;
    margin: 10px auto;
    
}
#paint{
    background-color:#fff;
    cursor:crosshair;
}

.anshika{
    width:300px;
    margin:0 auto;
    
}

.input2{
    width:100px;
    color: blue;
    font-size:1.3em;
    float:left;
}
.button{
    background-color:#fff;
    height:50px;
    padding:10px;
    border-radius: 3px;
    font-weight:bold;
    cursor:pointer;
    box-shadow:0px 4px rgba(0,0,0,0.2);
    position:relative;
}
.button:hover{
    color:white;
    background:linear-gradient(white,blue);
}
.button:active{
    top:4px;
}

.eraseMode{
    background-color:red;
    color:white;
}